{
    "extends": "./eslint-config-node.js",
    "env": {
        "commonjs": true
    },
    "rules": {
        "no-magic-numbers": "off",
        "object-shorthand": "off",
        "quote-props": ["error", "consistent"]
    }
}
