name: 'Create github and npm releases'

on:
  push:
    tags:
      - "v*"

permissions:
  id-token: write  # Required for OIDC
  contents: write

jobs:
  check-release:
    name: 'Check release is good and ready'
    uses: ./.github/workflows/check-pr.yml
    with:
      skip-deduplication: true

  make-release:
    name: 'Make github and npm releases'
    runs-on: ubuntu-latest
    needs: check-release

    steps:
      - name: 'Checkout source code'
        uses: 'actions/checkout@v6'
      - name: 'Setup node' # Directly in workflow rather than the one from actions/prepare because OIDC doesn't work in composites
        uses: actions/setup-node@v6
        with:
          cache: 'yarn'
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
          scope: '@dtrw'
      - name: 'Prepare workflow'
        uses: ./.github/actions/prepare
        with:
          setupNode: false
      - name: 'Make .d.ts'
        run: yarn make-types
      - name: 'Publish package'
        run: "npm publish --tag ${{ ((contains(github.ref_name, '-alpha') || contains(github.ref_name, '-beta')) && 'next') || 'latest' }} --access public"
      - name: Generate Changelog
        run: |
          START=$(grep -n "## \[" CHANGELOG.md | head -n 1 | cut -d : -f 1)
          END=$(grep -n "## \[" CHANGELOG.md | head -n 2 | tail -n 1 | cut -d : -f 1)
          awk "NR > $START && NR < $END" CHANGELOG.md | sed -e :a -e '/./,$!d;/^\n*$/{$d;N;};/\n$/ba' > ${{ github.workspace }}-CHANGELOG.temp.md
      - name: 'Create a github release'
        uses: softprops/action-gh-release@v2
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: ${{ contains(github.ref_name, '-alpha') || contains(github.ref_name, '-beta') }}
          tag_name: "${{ github.ref_name }}"
          body_path: ${{ github.workspace }}-CHANGELOG.temp.md
